.footer{
    min-width: 85vw;
    border-top: 1px solid var(--border-default);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.quicklinks-contact-wrapper{
    min-width: 80%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.about-myself h1{
    font-size: var(--xxl-font-size);
    font-weight: var(--bold);
    line-height: var(--normal-line-height);
    margin: 20px 0;
    color: var(--text-secondary);
}

.about-myself p{
    font-size: var(--xm-font-size);
    line-height: var(--medium-line-height);
    font-weight: var(--light);
    margin-bottom: 20px;
}

.quick-links , .contact {
    display: flex;
    flex-direction: column;
}

.quick-links h1, .contact h1{
    font-size: var(--xm-font-size);
    color: var(--accent-primary);
    padding: 10px 0;
}

.quick-links p, .contact p{
    font-size: var(--n-font-size);
    color: var(--text-tertiary);
    transition: all 0.4s ease;
    cursor: pointer;
    padding: 10px 0;
}

.quick-links p:hover, .contact p:hover{
    transform: scale(1.1) translateX(-12px);
    color: var(--text-secondary);
}

.footer hr{
    width: 80%;
    color: var(--bg-elevated);
}

.copywright-links-wrapper{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-button-wrapper{
    display: flex;
    gap: 10px;
}

.links-button-wrapper button{
    width: 50px;
    height: 50px;
    background-color: var(--accent-primary);
    color: var(--bg-secondary);
    border-radius: var(--extra-large-radius);
    text-align: center;
    vertical-align: center;
    font-size: var(--l-font-size);
    transition: all 0.2s ease;
}

.links-button-wrapper button:hover{
    color: var(--text-secondary);
    transform: scale(1.2);
}