.project-card {
    width: 580px;
    padding: 20px;
    height: 300px;
    border-radius: var(--medium-radius);
    transition: all 0.3s ease;
    cursor: pointer;
    border: none;
    overflow: hidden;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

.project-card::after{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, transparent, var(--bg-moving), transparent);
    transition: left 0.8s ease;
}

.project-card:hover::after{
    left: 100%;
}
.project-card:hover{
    transform: scale(1.1);
    border:  1px solid var(--accent-hover);
}

.project-card>div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-card h1 {
    font-size: var(--xm-font-size);
    font-weight: var(--bold);
    color: var(--text-accent);
    line-height: 1.2;
}

.project-card p {
    font-size: var(--m-font-size);
    font-weight: var(--light);
    line-height: var(--medium-line-height);
}

.project-card p span {
    font-weight: var(--bold);
    margin-right: 10px;
    color: var(--text-accent);
}

.language-buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.project-card:hover .secondary-btn{
    transform: scale(1);
}

.image-wrapper img{
    width: 300px;
    height: 300px;
    border-radius: var(--small-radius);
}